<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Santa-letter</title>
    </head>
    <body>
        <h1 align ="center"> Santa letter</h1>
        <hr>
        <div class="wrapper">
            <header>
                
                <nav>
                    <ul>
                        <li><p><a href="present.ejs">Mój prezent</a></li></p>
                        <li><p><a href="friends.html">znajomi</a></p></li>
                    </ul>

                </nav>
            </header>
        </div>
        <div class="wrapper">
            <h1>mój prezent</h1>
            <form action="">
                <label for="link">Link</label><br>
                <input type="text" id="link"name="Link"><br>
                <label for="opis">Opis</label><br>
                <input type="text" id="opis"name="opis"><br>
                <input type="submit" value="dodaj">
                
            </form>
            <div>
                <h1>mojde prezenty</h1>
                <ol class = "moje-prezenty">
                    <% presents.forEach(element => { %>
                        <li class = "tabela1-row">
                            <%= element.text %>
                            <form action="">
                                <button type="submit">&times;</button>
                            </form>
         
                            

                        </li>
                        
                   <% }); %>

                </ol>
            </div>
        </div>
        <div class="wrapper">
            <h1>znajomi</h1>
        </div>
        <script>
        
        </script>
    </body>
</html>