
<div>
    Login
</div>
<form class="register-login-form" action="/user/login" method="POST">
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input 
        type="text" 
        name="username" 
        id="username" 
        class="text-input
        <% if (formErrors.generalError) { %>
            text-input-error
        <% } %>
        ">
    </div>
    <div class="form-group">
        <label for="password" class="form-label">password</label>
        <input type="password"
        name="password"
        id="password" 
        class="text-input
        <% if (formErrors.generalError) { %>
            text-input-error
        <% } %>
        ">
        <% if (formErrors.generalError) { %>
            <small class="form-error-text">
                    <%= formErrors.generalError %>
            </small>
        <% } %>
    </div>
    <div class="form-group">
        <button class="btn btn-add">Login</button>
    </div>
    <div class="form-label">
        Don't have account? <a href ="/user/register">Sign up here</a>
    </div>
</form>
